body {
  background-image: url(https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?cs=srgb&dl=pexels-pixabay-531756.jpg&fm=jpg);
}
.MyLogo {
  max-width: 50px;
  margin-right: 2%;
}
.centerTemp {
  padding-inline: 36%;
}
.tempFont {
  font-size: 500%;
}
